/sites/default/files/js
/sites/default/files/languages
/sites/default/files/diverse
/sites/default/files/fotoalbum
/sites/default/files/pictures
/sites/default/files/styles
/sites/default/files/temasider
/sites/default/files/u*
/sites/default/files/settings.php